@-moz-keyframes round {
	0% {
	-webkit-transform:rotate(0);
	-moz-transform:rotate(0);
	-o-transform:rotate(0);
	-ms-transform:rotate(0);
	transform:rotate(0)
    }
    100% {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes round {
	0% {
	-webkit-transform:rotate(0);
	-moz-transform:rotate(0);
	-o-transform:rotate(0);
	-ms-transform:rotate(0);
	transform:rotate(0)
    }
    100% {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-o-keyframes round {
	0% {
	-webkit-transform:rotate(0);
	-moz-transform:rotate(0);
	-o-transform:rotate(0);
	-ms-transform:rotate(0);
	transform:rotate(0)
}
100% {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg)
}
}@keyframes round {
	0% {
	-webkit-transform:rotate(0);
	-moz-transform:rotate(0);
	-o-transform:rotate(0);
	-ms-transform:rotate(0);
	transform:rotate(0)
}
100% {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg)
}
}@-moz-keyframes show {
	0% {
	opacity:.99;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter:alpha(opacity=99)
}
100% {
	opacity:1;
	-ms-filter:none;
	filter:none
}
}@-webkit-keyframes show {
	0% {
	opacity:.99;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter:alpha(opacity=99)
}
100% {
	opacity:1;
	-ms-filter:none;
	filter:none
}
}@-o-keyframes show {
	0% {
	opacity:.99;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter:alpha(opacity=99)
}
100% {
	opacity:1;
	-ms-filter:none;
	filter:none
}
}@keyframes show {
	0% {
	opacity:.99;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter:alpha(opacity=99)
}
100% {
	opacity:1;
	-ms-filter:none;
	filter:none
}
}
.mod-user-intro {
	position:relative;
	min-height:3rem;
	zoom:1
}
.mod-user-intro:before,.mod-user-intro:after {
	content:"";
	display:table
}
.mod-user-intro:after {
	clear:both
}
.mod-user-intro>.bg-pic {
	display:block;
	width:100%;
	max-height:100%
}
.mod-user-intro>.cell-media-lr {
	padding:0 .25rem;
	position:absolute;
	z-index:1;
	top:11%
}
.mod-user-intro>.cell-media-lr .c-img {
	float:left
}
.mod-user-intro>.cell-media-lr .c-img a img {
	border:3px solid #f1f1f1;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:0 3px 5px -1px rgba(0,0,0,.6);
	box-shadow:0 3px 5px -1px rgba(0,0,0,.6)
}
.mod-user-intro>.cell-media-lr .c-txt {
	padding-left:.25rem;
	padding-top:.05rem;
	min-width:3.3rem;
	overflow:hidden;
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,.75)
}
.mod-user-intro>.cell-media-lr .c-txt .title {
	font-size:.4rem;
	text-shadow:0 2x 1px rgba(0,0,0,.75);
	margin-bottom:.2rem;
	font-weight:700
}
.mod-user-intro>.cell-media-lr .c-txt .txt {
	line-height:.35rem
}
.mod-user-intro>.cell-media-lr .c-txt .intro {
	margin-top:.15rem;
	line-height:.32rem
}
.mod-user-intro>.cell-media-lr .c-txt .intro strong {
	font-weight:700
}
